---
layout: page
title: 記事一覧
permalink: /posts/
---
<div class="posts">
  {% for post in site.posts %}
  <div class="post-preview">
    <h2 class="post-title">{{ post.title | escape }}</h2>
    <p class="post-meta">
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    </p>
    <p class="post-excerpt">
      {% if post.excerpt %}
        {{ post.excerpt | strip_html | truncatewords: 30 }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>
    <a href="{{ post.url | relative_url }}" class="read-more">Read more...</a>
  </div>
  {% endfor %}
</div>
