<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
  <div class="wrapper">
    <div class="footer-links">
        
      {%- assign current_page_url = page.url | relative_url -%}

      <span class="p-name footer-text">
        日々鳥景アーカイブ
      </span>

          <a class="p-name" 
   href="https://tmasumolikebirds96gm-lang.github.io/my-first-portfolio/" 
   target="_blank"  
   rel="noopener noreferrer">
  ポートフォリオ HPはこちら
</a>  

    </div>
    <div class="footer-col-wrapper">
      </div>
    
    <div class="copyright-text">
      <small>
        &copy; {{ site.time | date: "%Y" }} {{ site.title | escape }} All Rights Reserved. 
        <span class="no-reprint-footer">
          🚫 無断転載禁止 / Unauthorized reproduction prohibited 🚫
        </span>
      </small>
    </div>
  </div>
</footer>