<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Noto+Sans+JP:wght@400;700;900&display=swap" rel="stylesheet">
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.body.style.opacity = "0";
      document.body.style.transition = "opacity 0.6s ease-in-out";
      setTimeout(() => { document.body.style.opacity = "1"; }, 100);
    });
  </script>
</head>