<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      {% if site.subtitle %}
        <span class="site-subtitle">{{ site.subtitle | escape }}</span>
      {% endif %}
      {{ site.title | escape }}
    </a>
    
    <nav class="site-nav">
      
      <div class="trigger">
        {% for item in site.header_pages %}
          <a class="page-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>