---
---
@import "minima";

// ここにサイトのスタイル崩れを防ぐためのカスタムCSSを記述

/* サイトアイコンのパス修正 */
.site-header .site-icon {
  // Minimaのセレクタに合わせて修正
  background-image: url("{{ site.baseurl }}/assets/icon.png"); 
}

/* サイト幅の上書き */
.wrapper {
  max-width: 1200px !important;
  width: 100%;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* 記事内の画像スタイル */
.post-content img, .article-body img { 
  max-width: 100%; 
  width: 750px; 
  height: auto; 
  display: block; 
  margin-left: 0; 
  margin-right: auto; 
  margin-top: 2em; 
  margin-bottom: 2em;
}